{% extends "base.html.twig" %}

{% block page_content %}
    <div class="row">
        <h1 class="col-md-10">Entretiens pour le véhicule {{ vehicule }}</h1>
        <span class="col-md-2 spaced-from-top">
            <a href="{{ path("id4v_add_entretien",{"vehicule":vehicule.id}) }}" class="btn btn-success">Ajouter un entretien</a>
            <a href="{{ path("id4v_stats_vehicule",{"vehicule":vehicule.id}) }}" class="btn btn-primary">Stats</a>
        </span>
    </div>
    {% if vehicule.entretiens and vehicule.entretiens.count > 0 %}
        <table class="table table-striped">
            <thead>
            <td>Entretien</td>
            <td>Date</td>
            <td>Total</td>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for entretien in vehicule.entretiens %}
                <tr>
                    <td>
                        <a href="{{ path("id4v_edit_entretien",{"vehicule":vehicule.id,"entretien":entretien.id}) }}">{{ entretien.type.name }}</a>
                    </td>
                    <td>
                        {{ entretien.date|date("d/m/Y") }}
                    </td>
                    <td>
                        {{ entretien.total }} €
                    </td>
                </tr>
                {% set total = total+ entretien.total %}
            {% endfor %}
            <tr class="active total">
                <td colspan="2">
                    <b>Total</b>
                </td>
                <td>
                    <b>{{ total }} €</b>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
